<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>
<body>
    {% include 'tu_linien_netzplan.svg' %}

    <div id="tooltip"></div>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <script>
        /*
        let tuLinien = document.getElementById("TULinien");
        let desc = document.getElementById("desc");
        let ubahnen = tuLinien.getElementById("U-bahn").getElementsByClassName("routes");

        function createText(text, x, y) {
            let newText = document.createElementNS("http://www.w3.org/2000/svg", "text");
            newText.setAttributeNS(null,"x", x);
            newText.setAttributeNS(null,"y", y);

            let textNode = document.createTextNode(text);
            newText.appendChild(textNode);

            return newText;
        }

        for(let i = 0; i < ubahnen.length; i++){
            let strecken = ubahnen[i].children;
            for (let j = 0; j < strecken.length; j++) {
                let id = strecken[j].id;
                let strecke = (strecken[j].tagName == "g") ? (strecken[j].children[0]) : (strecken[j]);

                console.log(strecke.getAttribute("d"));

                //desc.appendChild(createText(id, 0, 400*j));
            }
        }
        */
    </script>
</body>
</html>